streamlit>=1.28.0
tensorflow>=2.10.0
numpy>=1.21.0
opencv-python>=4.5.0
Pillow>=8.0.0
librosa>=0.9.0
matplotlib>=3.3.0
soundfile>=0.10.0
scikit-learn>=0.24.0
streamlit-mic-recorder>=0.0.8
pydub>=0.25.0
pyarrow>=10.0.0
scipy>=1.7.0
